* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("fonts/AvenirNextLTPro-Medium.eot");
  src: url("fonts/AvenirNextLTPro-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/AvenirNextLTPro-Medium.woff") format("woff"),
    url("fonts/AvenirNextLTPro-Medium.ttf") format("truetype"),
    url("fonts/AvenirNextLTPro-Medium.svg#AvenirNextLTPro-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("fonts/AvenirNextLTPro-Italic.eot");
  src: url("fonts/AvenirNextLTPro-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/AvenirNextLTPro-Italic.woff") format("woff"),
    url("fonts/AvenirNextLTPro-Italic.ttf") format("truetype"),
    url("fonts/AvenirNextLTPro-Italic.svg#AvenirNextLTPro-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url("fonts/AvenirNextLTPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/AvenirNextLTPro-Bold.otf") format("opentype"),
    url("fonts/AvenirNextLTPro-Bold.woff") format("woff"),
    url("fonts/AvenirNextLTPro-Bold.ttf") format("truetype"),
    url("fonts/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next LT Pro Demi";
  src: url("fonts/AvenirNextLTPro-Demi.eot");
  src: url("fonts/AvenirNextLTPro-Demi.eot?#iefix") format("embedded-opentype"),
    url("fonts/AvenirNextLTPro-Demi.woff") format("woff"),
    url("fonts/AvenirNextLTPro-Demi.ttf") format("truetype"),
    url("fonts/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("fonts/AvenirNextLTPro-Regular.eot");
  src: url("fonts/AvenirNextLTPro-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/AvenirNextLTPro-Regular.woff") format("woff"),
    url("fonts/AvenirNextLTPro-Regular.ttf") format("truetype"),
    url("fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Avenir Next LT Pro";
}
p {
  font-size: 16px;
  font-family: "Avenir Next LT Pro";
  color: #444;
  padding-bottom: 15px;
}
ul {
  margin: 0;
  padding: 0;
}

.menu_area {
  width: 100%;
}
.navbar-light .navbar-toggler {
  border: none;
  color: #222;
  font-size: 30px;
}
.apply-now {
  background-color: #e9513c;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "AvenirNextLTPro-Bold";
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 20px 0;
}
.apply-now a {
  color: #fff;
}
.mobile-div {
  padding: 5px 10px 0;
  display: block;
}
.mobile-div a {
  color: #222;
  font-family: "Avenir Next LT Pro Demi";
}
.menu-right-div {
  float: right;
  max-width: 440px;
  display: flex;
}
.navbar-collapse {
  position: absolute;
  top: 90px;
  right: 0;
  background-color: #fff;
  padding: 10px 20px 30px;
  z-index: 1;
}
.transform-div {
  display: inline-block;
  float: left;
  max-width: 380px;
}
.transform-div img {
  max-width: 180px;
  width: 100%;
  float: left;
  width: 50%;
}
.transform-div h3 {
  float: left;
  width: 50%;
  padding: 15px 0;
  margin: 0;
}

.container {
  max-width: 1170px;
}
.banner {
  background: url(../images/banner.jpg) top center no-repeat;
  background-size: contain;
  width: 100%;
  color: #fff;
}
.border-left2 {
  border-left: 4px solid #fff;
  padding: 3px 10px 10px 20px;
}
.banner-caption {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  margin: 375px 0 175px;
  width: 95%;
}
.banner-caption h1 {
  text-transform: uppercase;
  font-size: 58px;
  margin: 0;
  padding: 0 0 15px;
  font-family: "AvenirNextLTPro-Bold";
}
.banner-caption h4 {
  font-size: 24px;
  font-weight: 500;
  font-family: "Avenir Next LT Pro";
  line-height: 30px;
}

.form-wrap {
  -moz-box-shadow: 1px 1px 10px 1px #666;
  -webkit-box-shadow: 1px 1px 10px 1px #666;
  box-shadow: 1px 1px 10px 1px #666;
}
.form-top {
  background-color: #1f5fac;
  padding: 20px 15px 15px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0 30px;
  position: relative;
}
.form-top:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  width: 0;
  height: 0;
  border-top: solid 15px #1f5fac;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
}
.form-h3 {
  font-size: 21px;
  font-family: "AvenirNextLTPro-Bold";
}
.get-started {
  background-color: #e9513c;
  color: #fff;
  font-size: 16px;
  display: block;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: "AvenirNextLTPro-Bold";
  width: 100%;
  border: none;
  cursor: pointer;
}
.form-wrap {
  background-color: #fff;
  padding-bottom: 20px;
}
.form-wrap fieldset {
  padding: 10px 15px;
}
.form-wrap fieldset input,
.form-wrap fieldset textarea {
  border-radius: 0;
}

.program-overview {
  padding: 70px 0;
}
.overview-h1 {
  font-size: 36px;
  text-align: center;
  color: #1f5fac;
  width: 100%;
  padding: 30px 0 50px;
  margin: 0;
  position: relative;
  text-transform: uppercase;
}
.overview-h1:before {
  position: absolute;
  width: 100px;
  height: 4px;
  top: 0;
  left: 50%;
  background-color: #e9513c;
  content: "";
  margin-left: -50px;
}
.overview-ul {
  margin: 0;
  padding: 0;
}
.overview-ul li {
  padding: 10px 15px 20px 15px;
  background-color: #e9f3f7;
  text-align: center;
  width: 31%;
  display: inline-block;
  list-style: none;
  margin-right: 2%;
}
.overview-ul li:last-child {
  margin-right: 0;
}
.overview-ul li h5 {
  color: #e9513c;
  font-size: 15px;
  font-family: "AvenirNextLTPro-Bold";
  text-transform: uppercase;
  border-bottom: 2px solid #e9513c;
  padding-bottom: 10px;
  line-height: 21px;
}
.overview-ul li p {
  color: #222;
  font-size: 14px;
  font-family: "Avenir Next LT Pro";
  margin: 0;
  padding: 0;
}

.program-admission {
  padding: 70px 0;
  background-color: #f8f8f8;
}
.program-p {
  text-align: center;
  margin: auto;
  width: 85%;
  padding-bottom: 30px;
}
.box-shadow-box {
  padding: 15px;
  background-color: #fff;
  min-height: 405px;
  -moz-box-shadow: 1px 1px 10px 1px #ccc;
  -webkit-box-shadow: 1px 1px 10px 1px #ccc;
  box-shadow: 1px 1px 10px 1px #ccc;
  margin-bottom: 30px;
}
.box-shadow-box a {
  color: #212529;
  text-decoration: underline;
}
.box-shadow-box h5 {
  font-size: 16px;
  padding: 0;
  margin-top: 0;
}
.box-shadow-box ul {
  margin: 0;
  padding: 10px 0 0;
}
.box-shadow-box ul li {
  list-style: none;
  position: relative;
  padding: 0 0 15px 20px;
  font-size: 15px;
}
.box-shadow-box ul li i {
  position: absolute;
  left: 0;
  top: 3px;
}
.nav.nav-tabs.nav-fill {
  margin: auto;
  max-width: 480px;
  display: block;
  border: none;
  -moz-box-shadow: 1px 1px 10px 1px #ccc;
  -webkit-box-shadow: 1px 1px 10px 1px #ccc;
  box-shadow: 1px 1px 10px 1px #ccc;
}
.nav.nav-tabs.nav-fill a {
  background: url(../images/program-entry-1.png) 20px center no-repeat #fff;
  color: #1f5fac;
  font-size: 14px;
  border: none;
  padding: 10px 20px 10px 80px;
  display: inline-block;
  width: 49.4%;
  border-radius: 5px 0 0 5px;
  text-align: left;
}
.nav.nav-tabs.nav-fill a:last-child {
  border-radius: 0 5px 5px 0;
}
.nav.nav-tabs.nav-fill a.active {
  background: url(../images/program-entry-2.png) 20px center no-repeat #1f5fac;
  color: #fff;
}
#nav-profile .col-lg-6,
#nav-home .col-lg-4 {
  float: left;
}
.prog-over-ul li {
  display: list-item;
  list-style: none;
}

.why-choose-auc {
  padding: 70px 0;
  background: url(../images/why-choose-auc.jpg) center center no-repeat;
  width: 100%;
  background-size: cover;
  color: #fff;
}
.why-choose-auc-ul li {
  padding-left: 25px;
  position: relative;
  list-style: none;
}
.why-choose-auc-ul li i {
  position: absolute;
  left: 0;
  top: 3px;
}
.why-choose-auc-p {
  color: #fff;
}
.why-choose-auc .overview-h1 {
  color: #fff;
}
.ranked-div {
  background-color: #082850;
  color: #fff;
  padding: 15px 25px;
  border-radius: 5px;
  top: 15px;
  position: relative;
  width: 90%;
}
.ranked-div h4 {
  text-transform: uppercase;
  float: left;
  width: 26%;
  font-family: "Avenir Next LT Pro";
  font-size: 20px;
  border-right: 1px solid #fff;
  padding-right: 2%;
}
.ranked-div h4 strong {
  font-size: 26px;
}
.ranked-div p {
  color: #fff;
  float: left;
  width: 74%;
  font-size: 12px;
  line-height: 14px;
  padding-left: 4%;
  padding-bottom: 0;
  margin-bottom: 0;
}

.frequently-questions {
  padding: 70px 0;
  background-color: #f8f8f8;
}
.card {
  border: none;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 20px;
  padding-left: 45px;
  width: 100%;
  display: inline-block;
}
.card-header {
  background-color: #fff;
  border: none;
  padding: 1.25rem;
}
.card-link {
  cursor: pointer;
  color: #1f5fac;
  font-size: 18px;
}
.card-body {
  padding-top: 0;
}
.card-link {
  display: block;
}
.card-link.collapsed:before {
  content: "\f055";
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  left: 0;
  font-size: 21px;
  top: 0;
  color: #e9513c;
  margin: 23px 0 0 25px;
}
.card-link:before {
  content: "\f056";
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  left: 0;
  font-size: 21px;
  top: 0;
  color: #e9513c;
  margin: 23px 0 0 25px;
}
#accordion {
  margin: auto;
  width: 80%;
}

.student-testimonials {
  padding: 70px 0;
}

.carousel.slide {
  max-width: 80%;
  margin: auto;
  text-align: center;
  padding-bottom: 21%;
}
.carousel-indicators {
  margin-left: 0;
  margin-right: 0;
}
.carousel-indicators li {
  text-indent: inherit;
  width: 70px;
  height: auto;
  opacity: 1;
  padding: 0 15px;
  text-align: center;
}
.carousel-indicators li.active {
  width: 150px;
  padding: 0;
}
.carousel-indicators li span {
  display: none;
}
.carousel-indicators li img {
  display: table;
  margin: 15px auto;
}
.carousel-indicators li.active img {
  margin: auto;
}
.carousel-indicators li.active img {
  width: 105px;
  height: 105px;
  margin-bottom: 30px;
}
.carousel-indicators li.active span {
  display: inline;
}
.carousel-item {
  font-style: italic;
}
.international-student-box {
  width: 100%;
  height: 320px;
  border-radius: 5px;
  -moz-box-shadow: 1px 1px 10px 1px #ccc;
  -webkit-box-shadow: 1px 1px 10px 1px #ccc;
  box-shadow: 1px 1px 10px 1px #ccc;
  position: relative;
  text-align: center;
  color: #fff;
}
.international-student-box:before {
  position: absolute;
  content: "";
  z-index: 1;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,000000+49,000000+100&0+0,0+49,0.69+100 */
  background: -moz-linear-gradient(
    top,
    rgba(30, 87, 153, 0) 0%,
    rgba(0, 0, 0, 0) 49%,
    rgba(0, 0, 0, 0.69) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(30, 87, 153, 0) 0%,
    rgba(0, 0, 0, 0) 49%,
    rgba(0, 0, 0, 0.69) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(30, 87, 153, 0) 0%,
    rgba(0, 0, 0, 0) 49%,
    rgba(0, 0, 0, 0.69) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#b0000000',GradientType=0 ); /* IE6-9 */
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.international-student-box div {
  position: absolute;
  z-index: 2;
  width: 100%;
  bottom: 0;
}
.international-student-box h4 {
  text-transform: uppercase;
  font-size: 18px;
  padding: 15px 0;
  font-family: "AvenirNextLTPro-Bold";
}
.international-student-box.one {
  background: url(../images/international-student1.png) center center no-repeat
    #fff;
}
.international-student-box.two {
  background: url(../images/international-student2.png) center center no-repeat
    #fff;
}
.international-student-box.three {
  background: url(../images/international-student3.png) center center no-repeat
    #fff;
}
.international-student-box.four {
  background: url(../images/international-student4.png) center center no-repeat
    #fff;
}

footer {
  padding: 60px 0 0;
  background-color: #1f5fac;
  margin: 70px 0 0;
}
.footer-ul {
  padding: 40px 0;
}
.footer-ul li {
  list-style: none;
}
.footer-ul li a {
  color: #fff;
}
.social-ul {
}
.social-ul li {
  display: inline-block;
  list-style: none;
  padding-right: 10px;
}
.social-ul li a {
  color: #1f5fac;
  background-color: #fff;
  border-radius: 50%;
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 21px;
  padding: 4px 0;
}
.footer-h4 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "AvenirNextLTPro-Bold";
  color: #fff;
  padding: 0 0 25px;
  margin: 0 0 25px;
  border-bottom: 1px solid #4679b7;
}
.navigation-ul {
}
.navigation-ul li {
  display: list-item;
  list-style: none;
  padding-bottom: 5px;
}
.navigation-ul li a {
  color: #fff;
}
.footer-p {
  color: #fff;
  margin-bottom: 10px;
}
.footer-p a {
  color: #fff;
}
.copyright-div {
  padding: 15px 0;
  border-top: 1px solid #4679b7;
  margin: 25px 0 0;
}
.copyright-div p {
  color: #fff;
  text-align: center;
  margin: 0;
}

.thankyou {
  padding: 25px;
  color: #222;
}

@media (min-width: 768px) and (max-width: 1120px) {
  .banner-caption {
    margin: 180px 0 auto;
  }
  .banner-caption h1 {
    font-size: 36px;
  }
  .banner-caption h4 {
    font-size: 21px;
    line-height: 27px;
  }
  footer .footer-logo {
    width: 100%;
  }
  .social-ul li {
    padding-right: 2px;
  }
  .img-responsive {
    max-width: 100%;
    margin: auto;
    display: table;
  }
  .mo-hide {
    display: none;
  }
  .banner {
    background-size: cover;
  }
  .carousel.slide {
    padding-bottom: 30%;
  }
  .overview-ul {
    text-align: center;
  }
  .overview-ul li {
    width: 47%;
    margin-bottom: 3%;
  }
  .ranked-div h4 {
    width: 35%;
  }
  .ranked-div p {
    width: 65%;
  }
  #nav-home .box-shadow-box {
    min-height: 635px;
  }
}

@media (min-width: 581px) and (max-width: 768px) {
  .carousel.slide {
    padding: 0 15px 27% 15px;
  }
}

@media (min-width: 540px) and (max-width: 580px) {
  .carousel.slide {
    padding: 0 15px 35% 15px;
  }
}

@media (min-width: 480px) and (max-width: 540px) {
  .carousel.slide {
    padding: 0 15px 40% 15px;
  }
}

@media (min-width: 420px) and (max-width: 480px) {
  .carousel.slide {
    padding: 0 15px 45% 15px;
  }
}

@media (min-width: 380px) and (max-width: 420px) {
  .carousel.slide {
    padding: 0 15px 50% 15px;
  }
}

@media (min-width: 340px) and (max-width: 380px) {
  .carousel.slide {
    padding: 0 15px 60% 15px;
  }
}

@media (min-width: 320px) and (max-width: 340px) {
  .carousel.slide {
    padding: 0 15px 70% 15px;
  }
}

@media (max-width: 767px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .mo-hide {
    display: none;
  }
  p {
    padding-bottom: 0;
  }
  .navbar-brand img {
    max-height: 55px;
  }
  .banner {
    background-size: cover !important;
    padding: 0 !important;
    background: url(../images/banner2.jpg) top center no-repeat;
  }
  .banner-caption {
    margin: 20px 0;
    width: 100%;
  }
  .border-left2 {
    border-left: none;
    border-top: 4px solid #fff;
    padding: 10px 0 0 0;
  }
  .banner-caption h1 {
    font-size: 26px;
    text-align: center;
  }
  .banner-caption h4 {
    font-size: 16px;
    text-align: center;
    line-height: 20px;
  }
  .form-top {
    margin: 0 0 20px 0;
  }
  .form-wrap fieldset {
    padding: 5px 15px;
  }
  section {
    padding: 40px 0 !important;
  }
  .program-overview,
  .why-choose-auc {
    display: flex;
    flex-flow: column;
  }
  .program-overview .col-lg-5,
  .why-choose-auc .col-lg-5 {
    order: 1;
  }
  .program-overview .col-lg-6,
  .why-choose-auc .col-lg-7 {
    order: 2;
  }
  .overview-h1 {
    font-size: 28px;
    padding-bottom: 20px;
  }
  .overview-ul {
    text-align: center;
  }
  .overview-ul li {
    width: 47%;
    vertical-align: top;
    padding: 10px 10px 20px 10px;
    margin: 3% 2% auto auto;
  }
  .overview-ul li h5 {
    padding-bottom: 5px;
    font-size: 13px;
  }
  .overview-ul li p {
    padding: 0 !important;
  }
  .img-responsive {
    max-width: 100%;
    margin: auto;
    display: table;
  }
  .program-overview .col-lg-6 p {
    text-align: center;
    padding: 20px 0 0;
    margin-bottom: 0;
  }
  .nav.nav-tabs.nav-fill {
    margin: auto;
    max-width: 100%;
  }
  .nav.nav-tabs.nav-fill a {
    width: 50%;
    float: left;
    padding: 10px 10px 10px 60px;
    background-position: 10px center !important;
    font-size: 12px;
    height: 100%;
  }
  .program-p {
    width: 100%;
  }
  #nav-profile .col-lg-4 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .box-shadow-box {
    min-height: inherit;
  }
  .why-choose-auc .col-lg-5 iframe {
    height: 275px;
  }
  .ranked-div h4,
  .ranked-div p {
    width: 100%;
  }
  .ranked-div {
    width: 100%;
    padding: 15px;
  }
  .ranked-div h4 {
    border-bottom: 1px solid #fff;
    border-right: none;
    font-size: 24px;
    padding-bottom: 7px;
  }
  .ranked-div p {
    padding-left: 0;
    text-align: center;
  }
  #accordion {
    width: 100%;
    padding: 0 15px;
  }
  .carousel.slide {
    width: 100%;
  }
  .card {
    padding-left: 25px;
  }
  .overview-h1 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .card-link::before,
  .card-link.collapsed::before {
    margin: 18px 0 0 15px;
  }
  .card-header {
    padding-top: 15px;
    line-height: 21px;
  }
  .carousel-indicators li {
    width: 60px;
    padding: 0;
  }
  .carousel-indicators li img {
    width: 40px;
    height: 40px;
  }
  .carousel-indicators li.active img {
    width: 80px;
    height: 80px;
    margin-bottom: 12px;
  }
  .student-resource .col-lg-3 {
    width: 50%;
  }
  .international-student-box {
    height: 240px;
    margin: auto auto 15px;
    max-width: 270px;
  }
  .student-resource .col-lg-3.one,
  .student-resource .col-lg-3.three {
    padding-right: 5px;
  }
  .student-resource .col-lg-3.two,
  .student-resource .col-lg-3.four {
    padding-left: 5px;
  }
  .international-student-box div {
    padding: 100px 0 0;
  }
  .international-student-box div img {
    max-height: 60px;
  }
  .international-student-box h4 {
    font-size: 12px;
  }
  footer {
    padding: 40px 0 0;
    text-align: center;
    margin-top: 20px;
  }
  .footer-ul {
    padding: 25px 0;
  }
  .footer-h4 {
    border-bottom: none;
    margin-bottom: 0;
    padding: 25px 0 15px;
  }
  .social-ul {
    padding-bottom: 20px;
    border-bottom: 1px solid #4679b7;
  }
  .navigation-ul li {
    display: inline-block;
    margin-right: 3px;
  }
  .navigation-ul li a {
    border-right: 2px solid #fff;
    padding-right: 7px;
  }
  .navigation-ul li:last-child a {
    border: none;
    padding: 0;
    margin: 0;
  }
  .transform-div h3 {
    font-size: 18px;
  }
  .navbar-light .navbar-toggler {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .navbar-collapse {
    top: 60px;
  }
  .transform-div img {
    max-width: 120px;
  }
  .prog-over-ul li {
    padding: 15px 0 0;
  }
  .prog-over-ul li h6 {
    margin: 0;
  }
}
